@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
/* font-family: "Inter", sans-serif; */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.miama-font {
    font-family: 'Miama', sans-serif;
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
}


/* shared styles */
.display-flex {
    display: flex;
}

.btn-primary {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.btn-outline {
    padding: 16px 40px 16px 40px;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(82, 81, 81);
    border-radius: 42px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

/* navbar related styles */
.bg {
    background: rgb(0, 0, 0);
}

.bg-dark {
    background: linear-gradient(360.00deg,
            rgb(17, 17, 17),
            rgba(119, 119, 119, 0) 900%);
}

.navbar {
    max-width: 1060px;
    margin: 0 auto;
    padding: 50px 0px;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    font-style: italic;
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}

.nav-item {
    list-style: none;
    margin-right: 40px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.nav-links {
    align-items: center;
    justify-content: center;
    padding: 2px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.btn-home {
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}

/* banner related styles  */
.banner {
    max-width: 1060px;
    height: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.into {
    padding-top: 60px;
}

.title {
    width: 520px;
    height: 282px;
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}

.sub-title {
    font-family: 'Miama';
    font-weight: 500;
    font-size: 100px;
    line-height: 0%;
    letter-spacing: 0%;
}

.description {
    width: 520px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 28px 0px;
}

.banner-btn {
    display: flex;
    gap: 20px;
}

.box-shadow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6px;
    color: white;
    padding: 10px;
    width: 140px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid gray;
    position: relative;
    bottom: 145px;
    right: 50px;
}

.box-shadow2 {
    color: white;
    padding: 10px;
    width: 140px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid gray;
    position: relative;
    bottom: 512px;
    left: 220px;
}

.option {
    text-align: start;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(202, 45, 21);
}

.span-title {
    font-weight: 800;
    font-size: 25px;
}

.span-description {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.65);
}

/* habit section styles */
.change {
    text-align: center;
    padding-top: 70px;
}

.change-card {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.change-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}

.change-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

.change-img {
    width: 180px;
    border-radius: 100%;
    border: 2px solid #5d5c5c;
}

.img-title {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    margin-top: 15px;
}

.img-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
}

.card-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 190px;
    text-align: center;
}

/* run an extra mile easily section */
.run-section {
    padding: 50px 0px;
}

.container {
    max-width: 1060px;
    margin: 50px auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run {
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    padding: 32px;
    gap: 100px;
}

.run-content {
    width: 443px;
    height: 290px;
}

.run-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}

.run-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 30px 0px;
}

.run-img img {
    width: 366px;
    height: 312px;
    border-radius: 18px;
}


/* Trainings and Exercises section */



/* BMI section */
.bmi-div {
    max-width: 800px;
    margin: 0 auto;
}

.bmi-section {
    margin-top: 30px;
}

td,
th {
    border: 1px solid #6b6969;
    text-align: left;
    padding: 10px 50px 10px 10px;
}

table {
    border-collapse: collapse;
    max-width: 500px;
}

td {
    font-size: 13px;
    color: #949292;
}

.bmi-calculator-container {
    display: flex;
    margin-top: 50px;
    max-width: 100%;
    background-color: #222222;
    padding: 40px;
    justify-content: space-evenly;
    gap: 60px;
}

.input-style {
    padding: 8px 14px;
    border-radius: 5px;
    width: 200px;
    border: 0;
    background-color: #FFFFFF1A;
    color: white;
}

.select-style {
    padding: 8px 14px;
    border-radius: 5px;
    border: 0;
    width: 229px;
    background-color: #FFFFFF1A;
    color: #FFFFFF99;
}

.select-style2 {
    padding: 8px 14px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
    width: 462px;
    background-color: #FFFFFF1A;
    color: #FFFFFF99;
}

.option-style {
    background: rgb(68, 68, 68);
}

.btn-bmi {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
}


/* Meet Our Team section  */
.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.img-class {
    width: 325px;
    height: 270px;
    border-radius: 10px;
    position: relative;
}

.text-item {
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    margin-top: 200px;
}

.team-member-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #FFFFFF1A;
    gap: 20px;
    padding: 20px;
    margin: 40px 0px;
}

.meet-title {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-top: 15px;
}

.meet-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 300;
}


/* unique section */



/* footer section */

.footer {
    width: 100%;
    height: 489px;
    /* background: black; */
    background: rgb(17, 16, 16);
}

.footer-main {
    max-width: 1044px;
    margin: 0 auto;
    padding-top: 60px;
}

.footer-title {
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.footer-subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    margin-top: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}

.about {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.services {
    margin-left: -70px;
}

.footer-align {
    justify-content: space-between;
}

.get-start {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.copyright {
    margin-top: 70px;
}

.hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.all-right {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 50px;
}

/* footer end  */